<!DOCTYPE html>
<html>
<head>
   <title>Bookers2</title>
</head>

<boby>
  <div class="container">
  <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

<h2>User info</h2>

<%= form_with model: @user, url:'/users' do |f| %>

   <div class="form-group">
     <label for="user_name">Name</label>
     </div>
  <%= f.text_field :name %>
     
  
    <div class="form-group">
        <label for="user_image">Image</label>
        </div>
  <%= f.file_field :image, accept: "image/*" %>
    
    
   <div class="form-group">
        <label for="user_introduction">Introduction</label>
        </div>
  <%= f.text_area :introduction %>
   
   <div class="form-group"></div>
  <%= f.submit 'Update User', class: "btn btn-secondary" %>
   
  
<% end %>

</div> 
  </div> 
  </div> 
</boby>
</html>
