<!DOCTYPE html>
<html>
<head>
   <title>Bookers2</title>
</head>

<boby>
  <div class="container">
  <div class="row">

<%= render 'list', user: @user %>

<div class="col-md-8 offset-md-1">
      <h2>Books details</h2>
     <table class="table table-hover table-inverse">

  
  <tbody>
  
      <tr>
        <td> 
        <%= link_to user_path do %>
        <%= image_tag @book.user.get_profile_image(100,100) %> 
        <% end %>
        <br>
        <%= link_to @book.user.name, user_path(@book.user.id) %>
          </td>
        <td>
          <%= link_to book_path(@book.id) do %>
           <%= @book.title %> 
           <% end %>
         </td>
        
        <td>
           <%= @book.body %> 
          </td>
        <td>
          <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success"  %>
         </td>
        <td>
          <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-danger" %> 
         </td>
      </tr>
      
      
 
  </tbody>
</table>
    </div>
  </div> 
  </div> 
</boby>
</html>